*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
}

html {
    height: 100%;
    text-size-adjust: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family:
        PingFangSC,
        PingFangSC-Regular,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        sans-serif;
    background-color: #fff;
    color: #333;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

img {
    max-width: 100%;
    vertical-align: middle;
}
